@import url('https://fonts.googleapis.com/css?family=Lato');

@font-face {
  font-family: RavieFont;
  src: url(./images/ravie.ttf);
  font-weight: bold;
}

:global body {
  margin: 0;
  padding: 0;
  font-family: RavieFont;
}

:global .navbar a.active {
  padding-bottom: 26px;
  border-bottom: 2px solid #1DB7E9;
}
