:global{html {
  box-sizing: border-box;
}}

:global{*, *:before, *:after {
  box-sizing: inherit;
}}

:global {
  html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100%;
    position: relative;
}}
